obj/Backend_ind.csproj.nuget.dgspec.json
obj/Debug/net9.0/Backend_ind.AssemblyInfo.cs
obj/Debug/net9.0/Backend_ind.AssemblyInfoInputs.cache
obj/Debug/net9.0/Backend_ind.assets.cache
obj/Debug/net9.0/Backend_ind.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
